<nav
  class="bg-[#DFDFDE] dark:bg-[#1b1b1b] navbar navbar__our transition-colors duration-1000"
>
  <a href="/post/posts" class="flex items-center">
    <img src="/../Sources/logo.png" class="h-6 mr-3 sm:h-9" alt="Logo" />
    <span
      class="self-center text-black dark:text-white text-xl font-semibold whitespace-nowrap dark:text-white"
      >BeYou</span
    >
  </a>
  <div class="flex flex-row gap-4 items-center">
    <a href="/auth/signout" style="font-weight: bold" class="dark:text-zinc-300"
      >LOGOUT</a
    >
    <div class="theme-container shadowlight">
      <img
        id="theme-icon"
        src="https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg"
        alt="ERR"
      />
    </div>
  </div>
</nav>
