<div class="chat-block p-2 mb-[4px] border-b-[1px] hover:shadow shadow-black dark:shadow-gray-400   border-white gap-2 bg-[#f7f7f7] dark:bg-[#121212] transition-colors duration-1000">
    <div class="h-10 w-10 sunbx">
        <img class="w-full max-h-full" src="/Sources/newflwer.png" alt="">
    </div>
    <div class="details w-full">
        <div class="listHead flex text-sm flex-row justify-between w-full dark:text-white text-black">
            <h4>Rachel</h4>
            <p class="time">9:45</p>
        </div>
        <div class="message_p text-sm dark:text-white text-black">
            <p>How are you?</p>
        </div>
    </div>
</div>