<div class="flex flex-col feed__container gap-2 pt-4">
    <% mainFeedPosts.forEach(post => { %>
        <% const formattedDate = new Date(post.addedOn).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
        <%- include("./postListItem", {
            title: post.title,
            userId: post.userId,
            postId: post.stringId,
            likes: post.likes,
            comments: post.comments ? post.comments.length : 0,
            isAlreadyLikedByThisUser: post.isAlreadyLikedByThisUser,
            currentPage: 'homepage',
            name: post.username,
            profileImage: post.profileImage ? post.profileImage : "https://virtualpiano.net/wp-content/uploads/2020/08/Dua-Lipa-Artist-Online-Piano-Keyboard-Virtual-Piano.jpg",
            mainImage: post.uploadedImages ? post.uploadedImages: "",
            date: formattedDate,
            description: post.description,
            })
        %>
    <% }) %>
</div>