<div class="flex flex-col feed__container gap-2 pt-4">
    <% mainFeedPosts.forEach(post => { %>
        <% const formattedDate = new Date(post.addedOn).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
        <%- include("./postListItem", {
            title: post.title,
            userId: post.userId,
            postId: post.stringId,
            likes: post.likes,
            comments: post.comments ? post.comments.length : 0,
            isAlreadyLikedByThisUser: post.isAlreadyLikedByThisUser,
            currentPage: 'homepage',
            name: post.username,
            profileImage: post.profileImage ? post.profileImage : "https://images.unsplash.com/photo-1474073705359-5da2a8270c64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGdpcmx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60",
            mainImage: post.uploadedImages ? post.uploadedImages: "",
            date: formattedDate,
            description: post.description,
            })
        %>
    <% }) %>
</div>