<div class="follow__card bg-[#f7f7f7] dark:bg-[#121212] transition-colors duration-1000 shadow-md dark:shadow-gray-900">
    <div class="follow__content bg-[#f7f7f7] dark:bg-[#121212] gap-1 transition-colors duration-1000 ">
        <div class="follow__img cursor-pointer">
            <img src=<%= profileImage %> alt="">
        </div>
        <div class="follow__details bg-[#f7f7f7] dark:bg-[#121212] transition-colors duration-1000">
            <span class="follow__name text-black dark:text-white transition-colors duration-1000 cursor-pointer">
                <%= name %>
            </span>
        </div>
    </div>
    <a href="#" class="px-4 py-1 bg-purple-700 text-zinc-200 mr-1 rounded-lg transition ease-in-out hover:scale-105 hover:bg-purple-600">Follow</a>
</div>