<div class="flex flex-col gap-y-4 sm:px-8 pt-3 bg-[#fff] dark:bg-[#000] text-black dark:text-gray-200 transition-colors duration-1000 mt-0">
    <p class="text-center text-black dark:text-white">12 march</p>
    <div class="flex flex-col gap-y-4">
        <%- include("./notificationItem.ejs") %>
        <%- include("./notificationItem.ejs") %>
        <%- include("./notificationItem.ejs") %>
    </div>
</div>