<div class="pt-2 box-border carousel-item relative h-full w-full flex justify-center">
    <img class="dark:shadow-white cursor-pointer shadow-black shadow-lg rounded-lg carousel-status-img opacity-60" src=<%= mainStory %> />
    <div class="absolute bottom-1">
      <div class="flex flex-row items-center gap-2">
        <img class="h-12 w-12 rounded-full border-2 border-green-700" src= <%= src %> alt="">
        <span><%= name %></span>
      </div>
    </div>
</div>