.userSettingBox{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    border-radius: 5px;
    width: 90%;
    max-width: 780px;
}

.container_user_setting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userSettingBox input[type="text"]{
    background: none;
    margin-bottom: 10px;
    padding: 7px;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.userSettingBox input[type="text"]:focus{
    border-bottom-right-radius: 30px;
    border-bottom: 2px solid rgb(147 51 234);
    outline: none;
}

.userSettingBox button{
    border: 5px;
    transition: all 0.3s;
    border-radius: 50px;
    cursor: pointer;
    margin: auto;
}



.userSettingBox button:hover{
    transform: scale(1.01);
    box-shadow: 0 2px 2px rgb(233 213 255);
}
