<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
      rel="shortcut icon"
      href="/../Sources/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/../tailwind.config.js"></script>
    <link rel="stylesheet" href="/../styles/styles.css" />
    <link rel="stylesheet" href="/../styles/common.css" />

    <link rel="stylesheet" href="/../styles/DarkLightButton.css" />
  </head>
  <body>
    <%- include ('../Components/navbar.ejs') %>
    
    <section
      class="h-screen bg-[#f7f7f7] screenHolder dark:bg-[#121212] transition-colors duration-1000"
    >
      <div
        class="px-6 md:h-full bg-[#f7f7f7] text-gray-800 dark:bg-[#121212] dark:text-white transition-colors duration-1000"
      >
        <div
          class="flex xl:justify-center md:justify-around items-center flex-wrap h-full g-6"
        >
          <div
            class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-5/12 lg:w-5/12 md:w-5/12 imageHolder"
          >
            <lottie-player
              class="w-100"
              src="https://assets8.lottiefiles.com/packages/lf20_jcikwtux.json"
              background="transparent"
              speed="1"
              loop
              autoplay
            ></lottie-player>
          </div>
          <div
            class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-6/12 w-100 dark:bg-[#1f1f1f] dark:text-white transition-colors duration-1000 text-black bg-[#ebebeb] text-sm containerhai"
          >
            <form class="w-full" method="post" action="/auth/forgotPassword">
              <h1 style="font-size: 2.2rem" class="mb-6 font-bold text-center">
                Forgot Password
              </h1>

              <div
                class="mb-6 lg:mb-9 transform bg-transparent text-lg duration-300 focus-within:border-indigo-500"
              >
                <h3
                  id="invalidEmailErr"
                  class="err-message"
                  style="text-align: center; margin-top: 0; color: red"
                ></h3>
                <input
                  type="text"
                  name="email"
                  class="inputhai form-control block w-full px-4 py-2 text-base font-normal text-gray-800 bg-white dark:bg-[#1b1b1bff] transition-colors duration-1000 dark:text-white bg-clip-padding border border-solid border-purple-700 dark:border-purple-400 dark:focus:border-purple-600 rounded-xl transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-purple-600 focus:outline-none"
                  id="emailAddressForgotPassword"
                  placeholder="Email address"
                />
              </div>

              <div class="text-center">
                <button type="submit" class="btn-hover color-7" id="otpBtn">
                  Send OTP
                </button>
                <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                  Remember Your Password?
                  <a
                    href="/auth/login"
                    class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                    >Login</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="backGround"></div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/../javascript/DarkLighButton.js"></script>
    <script src="/../javascript/helpers/UserHelpers.js"></script>
    <script src="/../javascript/helpers/LoginSignUpHelpers.js"></script>
    <script src="/../javascript/forgotPassword.js"></script>
  </body>
</html>
