<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="shortcut icon"
      href="/../Sources/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,800;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/../tailwind.config.js"></script>
    <link rel="stylesheet" href="/../styles/styles.css" />
    <link rel="stylesheet" href="/../styles/home.css" />
    <link rel="stylesheet" href="/../styles/DarkLightButton.css" />
  </head>

  <>
    
    <%- include ('../Components/navbar.ejs') %>


    <div class="happu">
      <div
        class="external bg-[#f7f7f7] dark:bg-[#121212] transition-colors duration-1000"
      >
        <div class="horizontal-scroll-wrapper" id="wrapper_scroll">
          <div class="img-wrapper slower">
            <a href="#" class=""
              ><img
                class="coursel_img"
                src="https://images.unsplash.com/photo-1678737169727-a3236885e763?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8eEh4WVRNSExnT2N8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </a>
          </div>

          <div class="img-wrapper faster">
            <a href="#" class="">
              <img
                class="coursel_img"
                src="https://images.unsplash.com/photo-1678443418620-7a159a488f76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fHhIeFlUTUhMZ09jfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </a>
          </div>

          <div class="img-wrapper slower vertical">
            <a href="#" class="">
              <img
                class="coursel_img"
                src="https://images.unsplash.com/photo-1678560482177-445935d68c43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfHhIeFlUTUhMZ09jfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </a>
          </div>

          <div class="img-wrapper slower slower-down">
            <a href="#" class="">
              <img
                class="coursel_img"
                src="https://images.unsplash.com/photo-1648635167754-75b43524c8b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                alt=""
              />
            </a>
          </div>

          <div class="img-wrapper">
            <a href="#" class="">
              <img
                class="coursel_img"
                src="https://images.unsplash.com/photo-1678737859044-4b76d943c8c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8eEh4WVRNSExnT2N8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </a>
          </div>

          <div class="img-wrapper slower">
            <a
              href="https://altphotos.com/photo/paris-waterfront-at-sunset-1555/"
              target="_blank"
              rel="noopener"
            >
              <img
                class="coursel_img"
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/paris-seine-boat.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="img-wrapper slower slower2">
            <a href="#" class="">
              <img
                class="coursel_img"
                src="https://images.unsplash.com/photo-1676618836126-67e5beefa61f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIwfHhIeFlUTUhMZ09jfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </a>
          </div>

          <div class="img-wrapper">
            <a href="#" class="">
              <img
                class="coursel_img"
                src="https://images.unsplash.com/photo-1676909433899-dd4a3fd29a84?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                alt=""
              />
            </a>
          </div>
        </div>
        <div class="titlebox">
          <div class="card1">
            <div class="card2">
              <h1 class="title_main">BeYou</h1>
            </div>
          </div>
          <h2 class="title_sub text-white bg-purple-600">
            What's there to worry about!!
          </h2>
        </div>
      </div>
    </div>

    <div class="mid__section bg-[#f7f7f7] transition-colors duration-1000 dark:bg-[#121212]" id="div" onmouseenter="dis()" onclick="dis()">

      <hr class="text-gray-700 dark:text-gray-200 ruler__mine">

      <div class="info text-black dark:text-white">

        <div class="what">
          <h1 >What is Be You?</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione quae vero laborum perferendis ducimus accusamus excepturi rerum dolorem alias doloribus? Quidem doloribus voluptates mollitia, voluptas rerum magnam consectetur provident non?
          </p>
        </div>
        <div class="why">
          <h1>Why BeYou?</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi rerum perspiciatis deleniti necessitatibus consequuntur vero tenetur consectetur quasi, corporis officiis dolores, illo nihil inventore soluta distinctio eveniet. Unde, repudiandae enim.</p>
        </div>
        </div>
       

      <div class="conclusion">
        <hr class="text-gray-700 dark:text-gray-200 ruler__mine">
        <h2 class="text-black dark:text-white">What we wanna say is!!</h2>
      </div>
      <div class="cards_container">
        <div class="container__card noselect" id="first_card">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <p id="prompt">Add your friends.</p>
              <div class="title__card">Just follow the ones you already know, what's holding you up!</div>
            </div>
          </div>
        </div>
        <div class="container__card noselect " id="second_card">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <p id="prompt">Connect with new people.</p>
              <div class="title__card">Make new friends. Connect with who ever you want.</div>
            </div>
          </div>
          </div>
          <div class="container__card noselect" id="third_card">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
                <p id="prompt">Share what you love!</p>
                <div class="title__card">Make sure to tell them who you really are.</div>
              </div>
            </div>
            </div>

      </div>
    </div>
    
    

    <footer
      class="bg-gray-200 dark:bg-[#161616] transition-colors duration-1000"
    >
      <div class="mx-auto w-full container p-4 sm:p-6">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center">
              <img
                src="/../Sources/logo.png"
                class="h-8 mr-3"
                alt="BeYou Logo"
              />
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                >BeYou</span
              >
            </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
              >
                Contact
              </h2>
              <ul class="text-[#161616] dark:text-gray-400">
                <li class="mb-4">
                  <a href="#" class="un">About Us</a>
                </li>
                <li class="mb-4">
                  <a href="#" class="un">Contact Us</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-[#121212] uppercase dark:text-white"
              >
                Follow us
              </h2>
              <ul class="text-[#161616] dark:text-gray-400">
                <li class="mb-4">
                  <a href="https://github.com/themesberg/BeYou" class="un"
                    >Github</a
                  >
                </li>
                <li>
                  <a href="https://discord.gg/4eeurUVvTy" class="un">Discord</a>
                </li>
              </ul>
            </div>
            <div>
              <h2
                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
              >
                Legal
              </h2>
              <ul class="text-[#161616] dark:text-gray-400">
                <li class="mb-4">
                  <a href="#" class="un">Privacy Policy</a>
                </li>
                <li>
                  <a href="#" class="un">Terms &amp; Conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr
          class="my-6 border-purple-500 sm:mx-auto dark:border-purple-600 lg:my-8"
        />
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-[#121212] sm:text-center dark:text-gray-400"
            >© 2023 <a href="#" class="un">BeYou™</a>. All Rights Reserved.
          </span>
          <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0 pr-4">
            <a
              href="#"
              class="text-[#2b2b2b] dark:text-gray-500 hover:text-purple-800 dark:hover:text-purple-500 footer_icon"
            >
              <svg
                class="w-7 h-7"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Facebook page</span>
            </a>
            <a
              href="#"
              class="text-[#2b2b2b] dark:text-gray-500 hover:text-purple-800 dark:hover:text-purple-500 footer_icon"
            >
              <svg
                class="w-7 h-7"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Instagram page</span>
            </a>
            <a
              href="#"
              class="text-[#2b2b2b] dark:text-gray-500 hover:text-purple-800 dark:hover:text-purple-500 footer_icon"
            >
              <svg
                class="w-7 h-7"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
                />
              </svg>
              <span class="sr-only">Twitter page</span>
            </a>
            <a
              href="#"
              class="text-[#2b2b2b] dark:text-gray-500 hover:text-purple-800 dark:hover:text-purple-500 footer_icon"
            >
              <svg
                class="w-7 h-7"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">GitHub account</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="/../javascript/DarkLighButton.js"></script>
    <script src="/../javascript/scroller.js"></script>
  </body>
</html>
