<main class="box-border border-none">
    <div class="sm:px-8 p-4 bg-[#f7f7f7] dark:bg-[#121212] transition-colors duration-1000">
        <h1 class="text-[18px] sm:text-[22px] transition-colors duration-1000 text-black dark:text-white">Notifications</h1>
    </div>
    <hr class="w-100 h-1 bg-purple-300 border-0 rounded transition-colors duration-1000 dark:bg-purple-700 text-black dark:text-white">
    <div class="flex flex-col gap-y-[12px] pt-[12px] bg-white dark:bg-black transition-colors duration-1000">
        <%- include("../Partials/notificationContainer.ejs") %>
        <%- include("../Partials/notificationContainer.ejs") %>
        <%- include("../Partials/notificationContainer.ejs") %>
    </div>
    
</main>