<div class="flex flex-row grow">
    <div class="feed lg:basis-2/3 w-full bg-[#fff] transition-colors duration-1000 dark:bg-[#000] text-black dark:text-gray-200 overflow-x-hidden overflow-y-auto">
        <%- include("../Partials/feed.ejs") %>
    </div>

    <div class="lg:basis-1/3 lg:block hidden bg-[#f7f7f7] transition-colors duration-1000 dark:bg-[#121212] text-black dark:text-gray-200"> 
        <div class="flex flex-col">
            <h1 class="p-3 text-lg text-center">People You May Know</h1>
            <hr class="text-purple-600 border-b-1 border-purple-600">
            <div class="box-border">
                <div class="follow__wrapper bg-white transition-colors duration-1000 dark:bg-black text-black dark:text-gray-200 flex flex-col gap-y-3">
                    <% suggestedFriends.forEach(friend => { %>
                        <%- include('../Partials/followCard.ejs', {
                            name: friend.username,
                            userId: friend.stringId,
                            alreadyFollowing: friend.alreadyFollowing,
                            profileImage: friend.profileImage ? friend.profileImage : 'https://virtualpiano.net/wp-content/uploads/2020/08/Dua-Lipa-Artist-Online-Piano-Keyboard-Virtual-Piano.jpg',
                            })
                        %>
                    <% }) %>
                </div>
            </div>
            <!-- <div class="thoughts bg-[#f9f9f9] dark:bg-[#131313] transition-colors duration-1000 text-black dark:text-gray-200">
                <%- include("../Partials/stories.ejs") %>
            </div> -->
        </div>
    </div>
</div>