<div class="grow bg-[#f7f7f7] text-gray-800 dark:text-gray-100 dark:bg-[#1f1f1f] container_user_setting">
    <div class="userSettingBox">
        <h3>Update Password</h3>
        <input type="text" class="userSettingchangepass" name="currPassword" placeholder="Enter Current Password"></input>
        <input type="text" class="userSettingchangepass" name="newPassword" placeholder="Enter New Password"></input>
        <input type="text" class="userSettingchangepass" name="verifyNewPassword" placeholder="Confirm New Password"></input>
        <button id="userSettingUpbtn">UPDATE</button>
        <h3>User Account Deletion</h3>
        <button id="userSettingDelbtn">DELETE ACOUNT</button>
    </div>
</div>
