<div
  class="grow bg-[#f7f7f7] text-gray-800 dark:text-gray-100 dark:bg-[#1f1f1f] container_user_setting"
>
  <div
    class="userSettingBox bg-[#dfdfde] dark:bg-[#121212] border-[1px] border-purple-600 flex flex-col gap-y-4"
  >
    <form action="/profile/updatePassword" method="post">
      <div class="flex flex-col gap-y-4 bg-[#c8c8c7] dark:bg-[#4d4d4d]/20 p-6">
        <p style="text-align: center; color: red"><%= userSettingsError %></p>
        <h3 class="font-bold">Update Password</h3>
        <div class="flex flex-col gap-y-2">
          <input
            type="password"
            class="userSettingchangepass border-b-[1px] border-r-[1px] border-purple-600"
            name="currPassword"
            id="updatePass-currentPass"
            placeholder="Enter Current Password"
          />
          <input
            type="password"
            class="userSettingchangepass border-b-[1px] border-r-[1px] border-purple-600"
            name="newPassword"
            id="updatePass-newPass"
            placeholder="Enter New Password"
          />
          <input
            type="password"
            class="userSettingchangepass border-b-[1px] border-r-[1px] border-purple-600"
            name="verifyNewPassword"
            id="updatePass-confirmNewPass"
            placeholder="Confirm New Password"
          />
          <button
            type="submit"
            class="text-[14px] font-medium text-white bg-purple-600 p-2 min-w-[150px]"
            id="updatePass-confirmBtn"
          >
            UPDATE
          </button>
        </div>
      </div>
    </form>

    <form method="get" action="/profile/deleteAccount">
      <div class="flex flex-col gap-y-4 bg-[#c8c8c7] dark:bg-[#4d4d4d]/20 p-6">
        <h3 class="font-bold">User Account Deletion</h3>
        <div class="flex flex-col gap-y-2">
          <button
            class="text-[14px] font-medium text-white bg-purple-600 p-2 min-w-[150px]"
            id="userSettingDelbtn"
          >
            DELETE ACCOUNT
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
